/*Colors and Styles (Default)*/
:root {
  --PrimaryColor: hsl(94, 59%, 35%);
  --HoverColor: #bdf094;
  --paleGreen: hsl(96, 75%, 89%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --textColor: hsl(220, 10%, 94%);
  --bgColor: hsl(220, 10%, 94%);
  --greyText: rgb(190, 190, 190);
  --inputColor: hsl(330, 12%, 97%);
  --itemCardColor: hsl(120, 5%, 88%);
  --itemCardHover: hsl(120, 27%, 87%);
  /*Font ang Typography*/
  --biggestFont: 2.5rem;
  /*40px*/
  --h1FontSize: 1.5rem;
  /*24px*/
  --h2FontSize: 1.25rem;
  /*20px*/
  --h3FontSize: 1rem;
  /*16px*/
  --normalFontSize: 0.938rem;
  /*15px*/
  --smallFontSize: 0.813rem;
  /*13px*/
  --smallestFontSize: 0.75rem;
  /*12px*/
}

.activitySection {
  flex-basis: 50%;
}
.activitySection .heading {
  width: 100%;
  justify-content: space-between;
}
.activitySection .heading h1 {
  font-size: var(--h2FontSize);
  color: var(--blackColor);
  font-weight: 700;
}
.activitySection .heading .btn {
  border: 1px solid transparent;
}
.activitySection .heading .btn:hover {
  border: 1px solid var(--PrimaryColor);
}
.activitySection .secContainer {
  margin-top: 1rem;
}
.activitySection .secContainer .singleCustomer {
  align-items: flex-start;
  justify-content: space-between;
}
.activitySection .secContainer .singleCustomer img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 2px 4px var(--itemCardColor);
  margin-right: 1rem;
}
.activitySection .secContainer .singleCustomer .CustomerDetails {
  flex: 1;
}
.activitySection .secContainer .singleCustomer .CustomerDetails .name {
  font-size: var(--h3FontSize);
  color: var(--blackColor);
  font-weight: 600;
  display: block;
}
.activitySection .secContainer .singleCustomer .CustomerDetails small {
  font-weight: 500;
  color: var(--textColor);
  font-size: var(--smallFontSize);
}
.activitySection .secContainer .singleCustomer .duration {
  color: var(--textColor);
  font-weight: 500;
  font-size: var(--smallestFontSize);
}

/*Media Queries*/
@media screen and (max-width: 918px) {
  .activitySection {
    width: 100%;
  }
}